.channels  {
    
    width: 100%;   
    background-color:rgba(0, 0, 0, 0.553)
    
  }

  .channels h1 {
   
      padding-top: 50px;
  }

  #view-first-channel{
    background-image: url('../Multimedia/Canales img/div1chanel.jpg');
    background-size: cover; 
    display: flex;
    width: 100%;    
    border-bottom: 30px solid rgba(16, 16, 16, 0.527);
    background-position:center;
    height: 100vh; 
}

#view-second-channel{
    background-image: url('../Multimedia/Canales img/div2channell.jpg');
    background-size: cover; 
    display: flex;
    width: 100%;
    height: 100vh; 
}

#view-third-channel{
    background-image: url('../Multimedia/Canales img/div3channell.jpg');
    background-size: cover; 
    display: flex;
    width: 100%;
    height: 100vh; 
}

.channelsTitle{
    background-image: url('../Multimedia/Canales img/wallpapertitleadmchanell.jpg');
    background-size: cover; 
    height: 100vh;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: bottom;
    

}

@media (max-width: 900px) {
    #view-first-channel img, #view-second-channel img ,#view-third-channel img {
        width: 100%;
    }
  }

