.channels  {
    
    width: 100%;   
    background-color:rgb(255, 255, 255);
  
    
  }

  .channels h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
      padding-top: 50px;
  }

  @media (min-width: 2000px) {
    .channels h1  {
        font-size: 100px;
    }
  }


  #view-first-channel{
  
    display: flex;
    width: 100%; 
    height: 100vh; 
    overflow: hidden;
}

#view-second-channel{
    
    display: flex;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.channelsTitle{
    background-image: url('../Multimedia/Canales img/72080e9e-dd51-42c2-ba25-24873d3f367c.JPG');
    background-size: cover; 
    height: 40vh;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    filter: grayscale(100%)
   
    

}









@media (max-width: 900px) {
    #view-first-channel img, #view-second-channel img ,#view-third-channel img {
        width: 100%;
    }
  }

  @media (max-width: 960px) {
    #view-first-channel, #view-second-channel {
        height: 70vh;
    }

  }