

/* Estilo para enlaces de navegación */
Nav a {
  text-decoration: none;
  color: white;
  padding: 1%;
  margin: 2%;
  display: inline-block;
  width: 20%;
  height: 10%;
  
}

/* Estilo de hover para enlaces de navegación */
Nav a:hover {
  color: rgb(228, 221, 221);
  text-decoration: underline;
}

/* Estilo de hover para enlaces de navegación en dispositivos móviles */
@media only screen and (max-width: 900px) {
  Nav a:hover {
    color: rgb(228, 221, 221);
    text-decoration: underline;
  }


}




   