

/* Estilo para enlaces de navegación */
Nav a  {
  padding: 1%;
  margin: 2%;
  display: inline-block;
  width: 20%;
  height: 10%;
 
 
}

@media (min-width: 992px) {
  Nav {
      height: 80px;
            
  }
}

@media (max-width: 992px) {
  Nav a{
    border-bottom: 1px solid rgb(255, 255, 255)
           
  }

  Nav.brand img{
    width:"60%"
           
  }
}

.link  {
  text-decoration: none;
  color: white;
  padding: 1%;
  margin: 2%;
  display: inline-block;
  width: 20%;
  height: 10%;
  text-align: center;
  font-weight: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  
  
}

/* Estilo de hover para enlaces de navegación */
.link:hover {
  color: rgb(228, 221, 221);
  text-decoration: underline;
}





   