
.home  {
  background-image: url('../Multimedia/Homeimg/wallpaper.jpg') ;
  background-size: cover;
  width: 100%;   
}

.video   {
  width: 50vw;   
  margin-top: 5%;
 
}

.container-video{
  display: flex;
  justify-content: center;
  height:100vh
  
 
}

@media (min-width: 2000px) {
   

  .video{
    width: 500px;
  }

}


@media (max-width: 900px) {
 .video  {
    
    margin-left: 4%;
    margin-right: 4%;
     
  }

  
}





#view-first{
  background-image: url('../Multimedia/Homeimg/fondo1divhome.jpg') ;
  background-size: cover; 
  display: flex;
  width: 100%;
 
 
}

#view-two{
  background-image: url('../Multimedia/Homeimg/wallpaperdiv2.jpg') ;
  background-size: cover;
  display: flex;
}

@media (min-width: 881px) {
  #view-first, #view-two {
      height: 100vh;
      
  }
}

@media (max-width: 900px) {
  #view-first img, #view-two img  {
      width: 100%;
  }
}

@media (max-width: 880px) {
  #div-two img{
    transform: scaleY(-1);
     
  }
}



