
.home  {
  background-image: url('../Multimedia/Homeimg/wallpaper.jpg') ;
  background-size: cover;
  width: 100%;   
}

video {
  width: 50vw;
  margin-top: 8%; 
  margin-left: 25%;
}

@media (max-width: 900px) {
  video {
    width: 90vw;
    margin-left: 5%;
  }

  .onlyImages {
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }

  .onlyImages img {   
    align-self: center;
  }
}

#view-first{
  background-image: url('../Multimedia/Homeimg/fondo1divhome.jpg') ;
  background-size: cover; 
  display: flex;
  width: 100%;
 
 
}

#view-two{
  background-image: url('../Multimedia/Homeimg/wallpaperdiv2.jpg') ;
  background-size: cover;
  display: flex;
}

@media (min-width: 881px) {
  #view-first, #view-two {
      height: 100vh;
      
  }
}

@media (max-width: 900px) {
  #view-first img, #view-two img  {
      width: 100%;
  }
}

@media (max-width: 880px) {
  #div-two img{
    transform: scaleY(-1);
     
  }
}



.onlyImages{
  
  display: flex;
  justify-content: space-around;
  
}

.onlyImages img{
  width:40%;
  margin-top:15%;
  border-radius:10px
}
