.rights  {
    
    width: 100%;   
    background-color:rgb(253, 253, 253)
    
  }

  .rights h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
      padding-top: 50px;
  }

  @media (min-width: 2000px) {
    .rights h1  {
        font-size: 100px;
    }
  }


  #view-first-rights{
  
    display: flex;
    width: 100%;  
    height: 100vh;     
    overflow: hidden;
  }

#view-second-rights{
   
    display: flex;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.rightsTitle{
    background-image: url("../Multimedia/Gestion de Derechos img/wallpapertitlerightss.jpg");
    background-size: cover; 
    height: 40vh;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    filter: grayscale(100%)
       

}

@media (max-width: 900px) {
    #view-first-rights img, #view-second-rights img  {
        width: 100%;
    }
  }

  @media (max-width: 960px) {
    #view-first-rights, #view-second-rights  {
        height: 70vh;
    }

    #view-first-rights{
      border-bottom: 3px grey ;
    }
  }

 