.rights  {
    
    width: 100%;   
    background-color:rgba(0, 0, 0, 0.553)
    
  }

  .rights h1 {
   
      padding-top: 50px;
  }

  #view-first-rights{
    background-image: url('../Multimedia/Gestion de Derechos img/wallpapediv1rightss.jpg');
    background-size: cover; 
    display: flex;
    width: 100%;  
    height: 100vh;  
    border-bottom: 10px solid rgba(231, 220, 220, 0.239)
}

#view-second-rights{
    background-image: url('../Multimedia/Gestion de Derechos img/wallpaperdiv2rightss.jpg');
    background-size: cover; 
    display: flex;
    width: 100%;
    height: 100vh; 
}

.rightsTitle{
    background-image: url("../Multimedia/Gestion de Derechos img/wallpapertitlerightss.jpg");
    background-size: cover; 
    height: 100vh;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
       

}

@media (max-width: 900px) {
    #view-first-rights img, #view-second-rights img  {
        width: 100%;
    }
  }