.television  {
    
    width: 100%;   
    background-color:rgb(255, 255, 255)
    
  }

  .television h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 50px;
  }

  @media (min-width: 2000px) {
    .television h1  {
        font-size: 100px;
    }
  }


  #view-first-television{
  
    display: flex;
    width: 100%;  
    height: 100vh;      
    margin-bottom: 10px;
    overflow: hidden;
   
}

#view-second-television{
     
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  
}



.televisionTitle{
    background-image: url('../Multimedia/MovilesTv img/camiones.jpeg');
    background-size: cover; 
    height: 40vh;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-position:center;  
    filter: grayscale(100%) 
   
    

}

@media (max-width: 900px) {
    #view-first-television img, #view-second-television img  {
        width: 100%;
    }
  }