.text-and-image-container {
    width: 100%;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

#container-image {
    width: 50%;
     max-width: 400px;
     height: auto;    
    border: white 4px auto;    
 

}



#container-text {
    
    max-width: 400px;
    color: white;
    text-shadow: 1px 1px 3px #000000;
    text-align:left;
    background-color: #00000066;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
   
   
    
    
}

@media (max-width: 900px) {
    .container-image, .container-text {
        width: 100%;
       
    }
       
    }

    @media (min-width: 880px) {
        #container-image  {
          width: 50%;
            max-width: 40%;}
    }

    @media (max-width: 500px) {
        #container-text  {
            text-align:center; }
    }

    @media (min-width: 880px) {
        #container-text  {
          
            max-width: 40%;}
    }

    @media (min-width: 2000px) {
        #container-text  {
          font-size: 40px;
            
    }
}