.transmissions  {
    
    width: 100%;   
    background-color: white;
   
    
  }

  .transmissions h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 50px;
  }
  
  @media (min-width: 1900px) {
    .transmissions h1  {
        font-size: 80px;
    }
  }

  #view-first-transmissions{
    
   
    display: flex;
    width: 100%; 
    height: 100vh;       
    overflow: hidden;
    
   
}

 
 

#view-second-transmissions{
  
    display: flex;
    width: 100%; 
    height: 100vh;    
    overflow: hidden;
    
}

#view-third-transmissions{
     
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;

}

#view-third-transmissions p {
  display: none;
  visibility: hidden
}




.transmissionsTitle{
    background-image: url('../Multimedia/Transmisionesimg/transmiciontitl.JPG');
    background-size: cover; 
    height: 40vh;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    filter: grayscale(100%)
       

}

@media (max-width: 900px) {
    #view-first-transmissions img, #view-second-transmissions img, #view-third-transmissions img  {
        width: 100%;
    }
  }

  @media (max-width: 500px) {
    #view-first-transmissions , #view-second-transmissions , #view-third-transmissions   {
        height: 60vh;
    }
 
  }

  #conatiner-extra-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 5%;
  }
  
  #extra-images1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  #extra-images1 img {
    width: 60%;
    max-width: 100%;
    height: auto;
  }
  
  
  @media (max-width: 800px) {
    #extra-images1 img {
       width: 100%;
      margin-left:6%;
      margin-right:6%
    }
  
    #conatiner-extra-images{
      margin-left: 6%;
      margin-right: 6%;
    }
  
  }

  @media (min-width: 1900px) {
    #extra-images1 img , #extra-images2 img ,#extra-images3 img,#extra-images4 img {
       width: 50%;
      
    }
  }